.App {
  text-align: center;
  background-color: #f9f9f9;
  width: 25rem;
  margin: 0 auto;
  border-radius: 10px;

}

.headTitle {
  text-align: center;

}

.ExpenseAppContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.topSection {
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: space-around;
  width: 20rem;
}

.bottonSection {
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: space-around;
  width: 20rem;
}

.formContainer {
  display: flex;
  /* justify-content: space-around; */
  align-items: center;
  flex-direction: column;
  margin: 5px;
}